<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Movies</title>
    <%- include('./styles'); %>
  </head>

  <body>
    <%- include('./navBar'); %>
    <div class="bodyContainer">
      <h1>Popular Movies</h1>
      <%- popularMovies %>
      <h1>Now Playing Movies</h1>
      <%- playingMovies %>
      <h1>Top Rated Movies</h1>
      <%- topRatedMovies %>
    </div>
  </body>
</html>

<style>
  .bodyContainer {
    margin: 2.5rem;
  }

  .listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }

  .movieCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
  }

  .movieCard img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
</style>
